*__pycache__/
*.tar.gz
*.egg-info/

*.txt

build/

q_training/

results/
saved_results/
*.lprof

*.err
*.out
get_fan_efficiency_interpolator.py
diagnose_balloon_divergence.py
diagnose_optimizer.py
submission_files/

balloon_learning_environment/colab/.ipynb_checkpoints/

*.npy

.DS_Store


*.json
diagnostics/*

try_dynamics_rewrite.py